body {
    font-family: Arial;
    background: #f4f6f8;
    margin: 0;
}

nav {
    background: #1e3c72;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

.container {
    padding: 40px;
}

.hero {
    text-align: center;
    padding: 80px;
}

.btn {
    background: #1e3c72;
    color: white;
    padding: 12px 20px;
    text-decoration: none;
}

.card {
    background: white;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
}

.result {
    background: #e6ffe6;
    padding: 20px;
    margin-top: 20px;
}


.title {
    text-align: center;
    color: #1e3c72;
}

.subtitle {
    text-align: center;
    color: #555;
    margin-bottom: 30px;
}

.predict-form {
    max-width: 800px;
    margin: auto;
}

.input-card {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
    transition: transform 0.3s;
}

.input-card:hover {
    transform: scale(1.02);
}

.input-card label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}

.number-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
}

.range-input {
    width: 100%;
    margin-top: 10px;
}

.risk-text {
    display: block;
    margin-top: 8px;
    font-weight: bold;
}

.predict-btn {
    width: 100%;
    padding: 15px;
    font-size: 18px;
    background: #1e3c72;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.predict-btn:hover {
    background: #16305c;
}

.result-card {
    margin-top: 40px;
    background: #e6fff2;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
}
