<!DOCTYPE html>
<html>
<head>
    <title>Lung Cancer Prediction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body>

<nav>
    <h2>LungCare AI</h2>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/predict">Prediction</a></li>
    </ul>
</nav>

<div class="container">
    {% block content %}{% endblock %}
</div>

<footer>
    <p>© 2025 LungCare AI | ML Based Diagnosis Support</p>
</footer>

</body>
</html>
